* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace, arial;
  background: #4f8bbf;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: clamp(320px, 400px, 500px);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: 15px;
  background: #4f8bbf;
  box-shadow: 20px 20px 52px #4376a2, -20px -20px 52px #5ba0dc;
}

.box h2 {
  margin: 0 0 30px 0;
  font-size: 1.2rem;
  position: relative;
}

.box h2::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translatex(-50%);
  border: 2px solid #4376a2;
  border-radius: 50%;
  background: #4f8bbf;
  z-index: 10;
}

.box h2::after {
  content: '';
  width: 70%;
  height: 3px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translatex(-50%);
  background: #4376a2;
}

.box > div {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box input,
.box select {
  flex: 1;
  padding: 15px;
  border: 2px solid #4376a2;
  border-radius: 5px;
  background: none;
  color: white;
  caret-color: #85c6ff;
}

.box option {
  color: #222;
}

.box input:focus,
.box select:focus {
  outline: none;
  border-color: #85c6ff;
}

.box label {
  padding: 2px;
  position: absolute;
  top: -15px;
  left: 10px;
  background: #4f8bbf;
  border: 1px solid #4376a2;
}

.box .result span{
  margin: 0 10px;
  padding: 5px;
  background: #4b7fac;
  border: 1px solid #4376a2;
}
